/* src/index.css */
@font-face {
  font-family: 'Modam';
  src: url('/fonts/ModamWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modam';
  src: url('/fonts/ModamWeb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modam';
  src: url('/fonts/ModamWeb-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Modam', sans-serif;
}

body {
  margin: 0;
  direction: rtl;
}